{% extends 'base.html' %}
{% block content %}

<div class="table-responsive">
    <table class="table table-sm table-borderless mb-0">
        <thead class="thead-dark">
            <tr><th></th>
                <th>File Name</th>
                <th>Date Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <th scope="row"></th>
                <td>Certificate 1</td>
                <td>Nov 22 2020 - 10:01 PM</td>
                <td> 				
					<button class="login10-form-btn">
					<a class="login100-form-btn" href="/">View</a>
					</button>
					<button class="login10-form-btn">
					<a class="login100-form-btn" href="/">Download</a>
					</button>
				
				</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}